#main-heading {
    color: white;
}

#test1 {
    background-color: rgba(36, 41, 41, 0.377);
    height: 100vh;
}

#test2 {
    background-color: white;
    height: 100vh;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 20px;
}

#nest1 {
    border: solid 2px rgba(128, 128, 128, 0.336);
    height: 250px;
    margin-bottom: 30px;
    background-color: white;
}

#nest2 {
    height: auto;
}

.footer {
    background-color: darkgray;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}

#cityDiv {
    border: solid 3px grey;
    height: 300px;
    margin-bottom: 80px;
    background-color: white;
    padding: 15px;
}

#cityName {
    margin-bottom: 20px;
    color: black;
}

.cityPg {
    margin-top: 5px;
    margin-bottom: 20px;
}

.weatherBlock {
    background-color: rgb(0, 140, 255);
    color: white;
    border-radius: 10px;
}

.card-body {
    display: inline-block;
    margin-left: 35px;
    margin-bottom: 1em;
    border: none;
    width: 11em;
    height: 13em;
}

.card-row {
    margin-left: 0px;
}

.container-fluid {
    margin-bottom: 20px;
}

#searchBar {
    margin-top: 20px;
}

#searchBtn {
    width: 100vw;
}

h4 {
    margin-bottom: 20px;
}

.lowUV {
    background-color: greenyellow;
    display: inline;
    padding: 10px;
    border-radius: 10px;
}

.medUV {
    background-color: rgb(255, 241, 47);
    display: inline;
    padding: 10px;
    border-radius: 10px;
}

.highUV {
    background-color: rgb(255, 47, 47);
    display: inline;
    padding: 10px;
    border-radius: 10px;
}

#history {
    margin-top: 20px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.historyBtn {
    border: solid 2px grey;
    background-color: antiquewhite;
    padding-top: 10px;
    margin: 0px;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #test1 {
        height: 30vh;
        overflow: auto;
    }
    #cityDiv {
        height: 45vh;
    }
    .footer {
        margin-top: 10px;
    }
    #forecastHeading {
        text-align: center;
    }
    header {
        width: 100%;
    }
    .card {
        display: inline-block;
    }
}

@media only screen and (min-width: 768px) {
    #test1 {
        height: 100vh;
    }
    .card-row {
        width: 30%;
        /* background-color: red; */
        max-height: 1em;
    }
    .card {
        width: 20em;
        height: 20em;
        margin: 19px;
        display: inline-block;
    }
}